.explorer{
  display: flex;
  height: 100%;
}
.file-structure{
  width:20%;
  background: lightgray;
  overflow: scroll;
}
.main-area {
  background: whitesmoke;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.details{
  display: none;
  width:20%;
  background: lightgray;
}

@import "file-structure";
@import "main-area";
@import "details";
