.main-area{
  .list-inline{ margin: 0}
  .commands{
    height: 30px;
    line-height: 30px;
    background-color: cornsilk;
  }
  .folder-content{
    flex: 1;
    position: relative;
    .dropzone{
      //position: absolute;
      height: 100%;
      &.active{
        background: rgba(94, 223, 176, 0.16);
      }
    }
  }
  .add-content{

  }
  .create-new-folder{
    border: none;
    outline: 1px #cbcbcb solid;
    height: 20px;
    padding-left: 3px;
  }
  .content-wrapper{
    height: 100%;
    overflow: hidden;
    background: url(../images/content-wrapper.png) bottom right no-repeat;
    &:after{
      content:" ";
      clear: both;
    }
  }
  .item{
    display: block;
    width: 120px;
    height: 140px;
    float: left;
    position: relative;
    &:hover{
      background-color: $hoverColor;
    }
    &:active{
      background-color: $activeColor;
      outline: 1px solid $activeAccent;
    }
  }
  .item-icon img{
    width: 100%;
  }
  .item-name{
    text-align: center;
  }
  .debug-area{
    height: 70px;
  }
}